{
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "tabWidth": 4,
    "singleAttributePerLine": false,
    "printWidth": 160,
    "semi": false
}
